<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    bootstrap="Backoff.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true"
    syntaxCheck="true"
    strict="false"
    verbose="false"
>
  <php>
    <ini name="extension" value="xdebug.so"/>
    <ini name="xdebug.default_enable" value="1" />
    <ini name="report_memleaks" value="1" />
    <ini name="show_errors" value="1" />
  </php>

    <testsuites>
        <testsuite name="basic">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">classes</directory>
            <directory suffix=".php">interfaces</directory>
            <exclude>
              <directory>test</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <!--<log type="coverage-html"
            target="coverage"
            charset="UTF-8"
            yui="true"
            highlight="true"
            lowUpperBound="40"
            highLowerBound="70"
        /-->
        <log type="coverage-text" highlight="true" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
</phpunit>
