<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    bootstrap="Backoff.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true"
    syntaxCheck="true"
>
    <testsuites>
        <testsuite name="basic">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">classes</directory>
            <directory suffix=".php">interfaces</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html"
            target="coverage"
            charset="UTF-8"
            yui="true"
            highlight="true"
            lowUpperBound="40"
            highLowerBound="70"
        />
      <log type="testdox-html" target="coverage/testdox.html"/>
    </logging>
</phpunit>
